# Copyright (C) Pavel Jakushik - All rights reserved
# See the LICENSE file for copyright and licensing details.
# GitHub: https://github.com/RubyCircle/LimeEngine

BasedOnStyle: Microsoft
UseTab: ForContinuationAndIndentation 
TabWidth: 4
IndentWidth: 4
ColumnLimit: 180
AccessModifierOffset: -4
SpacesBeforeTrailingComments: 1
SortIncludes: Never
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: AlwaysBreak
#AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignEscapedNewlines: Left
AlignArrayOfStructures: Left
PointerAlignment: Left
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash
ReflowComments: false
FixNamespaceComments: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakBeforeBinaryOperators: NonAssignment
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
NamespaceIndentation: All
Cpp11BracedListStyle: false

BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: false
  AfterUnion: true
  AfterCaseLabel: true