BasedOnStyle: Microsoft
UseTab: ForContinuationAndIndentation 
IndentWidth: 4
TabWidth: 4
ColumnLimit: 180
AccessModifierOffset: -4
SortIncludes: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AlignAfterOpenBracket: AlwaysBreak
#AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignArrayOfStructures: Left
PointerAlignment: Left
BreakBeforeBraces: Allman
SpacesBeforeTrailingComments: 1
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash
ReflowComments: false
FixNamespaceComments: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
NamespaceIndentation: All