#Directories
.vs/
.vscode/
/[Bb]in/
/[Bb]uild/
/[Bb]inaries/
/[Ii]ntermediates/
/[Pp]roject[Ff]iles/

# CmakeFiles
CMakeUserPresets.json

# User files
*.user

#Log files
*.log

# ImGui
imgui.ini

# Profile files
*.scor
*.scor.incl
*.scor.t0000

# Temp files
/LimeEngine/Resource/RC*
